body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #000;
  --bs-link-color-rgb: #000;
  --color-black: #000;
}

.main {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  padding: 27px 0;
  position: relative;
  z-index: 20;
  box-shadow: 0 4px 30px 0 #d9d9d9;
  background: #fff;

  &--home {
    box-shadow: 0 4px 30px 0 #009a99;
  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    &__list {
      align-items: center;
      gap: 25px;
    }

    &__link {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      text-transform: uppercase;
      color: #000;
      text-decoration: none;

      &:hover,
      &.active {
        text-decoration: underline;
        text-decoration-skip-ink: none;
      }
    }
  }

}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  text-decoration: none;
  padding: 5px 25px;
  background: #e40032;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.26316;
  border-radius: 30px;
  height: 60px;
  transition: all 0.3s ease-in-out;

  &--h40 {
    height: 40px;
  }

  &:hover,
  &:active {
    background: #CD032F;
  }
}

.home-banner {
  min-height: 600px;
  background: #00b6b4 url("../images/dist/home1.jpg") 50% 0 no-repeat;
  padding-top: 66px;
  padding-bottom: 70px;
  position: relative;
  z-index: 1;
  margin-bottom: 120px;

  &__wrap {
    padding-left: 640px;
    position: relative;
    z-index: 10;

    h1 {
      margin: 0;
      font-weight: 700;
      font-size: 19px;
      line-height: 1.21739;
      color: #fff;
      padding: 0;
    }
  }

  &__header {
    padding-bottom: 30px;
  }

  &__subtitle {
    font-size: 33px;
    line-height: 1.18919;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
  }

  &__text {
    padding-bottom: 52px;

    p {
      color: #fff;
      font-style: italic;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      margin: 0;
    }
  }

  &__date {
    color: #fff;

    &__label {
      font-weight: 700;
      font-size: 33px;
      line-height: 1.333;
      text-transform: uppercase;
      padding-bottom: 20px;
    }

    &__value {
      font-weight: 700;
      font-size: 27px;
      line-height: 1.333;
      padding-bottom: 20px;
    }

    &__btn {
      width: 290px;
    }
  }
}

.nominations {
  padding: 100px 0;
  background: url("../images/dist/bg2.svg") 50% -30px no-repeat;
  background-size: 1421px 1023px;

  &__title {
    font-weight: 700;
    font-size: 33px;
    line-height: 1.18919;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    margin-bottom: 60px;

    b {
      font-weight: 700;
      color: #e40032;
    }
  }

  &__footer {
    padding: 50px 80px 0;
    font-size: 17px;
    line-height: 1.6;
    color: #898989;
  }

  &__item {
    width: 401px;
    margin: 0 auto;
    position: relative;
    height: 552px;
    z-index: 1;

    &::after {
      content: '';
      display: block;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 50%;
      width: 255px;
      margin-left: -127.5px;
      border-radius: 15px;
      height: 552px;
      background: linear-gradient(180deg, #77dbdc 0%, #dff 100%);
    }

    &__ico {
      position: relative;
      z-index: 10;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      &__top {
        display: flex;
        justify-content: center;
        height: 135px;
        padding-top: 30px;
      }

      &__wrap {
        width: 401px;
        height: 343px;
        background-image: url("data:image/svg+xml,%3Csvg width='401' height='343' viewBox='0 0 401 343' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M392.835 162.003C398.278 148.429 401 133.949 401 117.659C401 52.5004 347.473 -0.893646 282.152 0.011337C250.398 0.011337 221.367 11.7761 200.5 32.5907C178.726 12.6811 150.602 0.011337 118.848 0.011337C52.6199 0.011337 0 53.4054 0 118.564C0 134.854 2.72172 149.334 8.16516 162.908C8.16516 162.908 8.16516 162.908 9.0724 163.813C11.7941 170.148 14.5158 176.483 18.1448 181.913C39.0113 218.112 93.4457 296.846 201.407 343C201.407 343 318.441 287.796 380.133 185.533C384.67 178.293 389.206 171.053 392.835 162.908C392.835 162.003 392.835 162.003 392.835 162.003Z' fill='%23E40032' /%3E%3C/svg%3E");
        background-size: contain;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        padding-top: 97px;
      }

      &__caption {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 33px;
        line-height: 1.33333;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        padding-bottom: 50px;
      }

    }

    &__label {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 19px;
      line-height: 1.47368;
      color: #fff;
      text-align: center;
    }

    &__count {
      position: relative;
      z-index: 10;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 33px;
      line-height: 1.33333;
      text-transform: uppercase;
      text-align: center;
      color: #00b6b5;
      padding-top: 15px;
    }
  }
}

.feedback {
  position: relative;
  border-radius: 30px;
  background: #f0f0f0 url("../images/dist/bg-feedback.png") 50% 50% no-repeat;
  display: flex;
  padding: 100px 50px 86px;
  margin-bottom: 60px;

  &__pic {
    min-width: 346px;

    img {
      display: block;
      width: 346px;
      height: 288px;
      border: 1px solid #ADDFDF;
      border-radius: 15px;
      object-fit: cover;
    }
  }

  &__desc {
    flex-grow: 1;
    padding-left: 26px;

    p {
      font-size: 16px;
      line-height: 1.5;
      color: #000;
      margin-bottom: 30px;
    }

    &__user {
      font-size: 19px;
      line-height: 1.26316;
      color: #3ca6af;

      b {
        display: block;
        font-weight: 700;
      }
    }
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 10;
    left: 50px;
    top: -19px;
    width: 87px;
    height: 72px;
    background: url("../images/dist/q1.svg") 0 0 no-repeat;
    background-size: contain;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 10;
    right: 50px;
    bottom: -19px;
    width: 87px;
    height: 72px;
    background: url("../images/dist/q2.svg") 0 0 no-repeat;
    background-size: contain;
  }
}

.videos {
  padding: 87px 0 100px;
  background: url("../images/dist/video_bg.svg") 30% 0 no-repeat;
  background-size: 465px 1074px;

  &__item {
    display: flex;
    align-items: center;

    &__right {
      width: 731px;
    }

    &__info {
      flex-grow: 1;
      padding-right: 20px;

      &__ico {
        padding-bottom: 52px;
      }

      &__title {
        font-weight: 700;
        font-size: 27px;
        line-height: 1.333;
        color: #000;
        padding-bottom: 10px;
      }

      &__link {
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        font-size: 17px;
        line-height: 1.4;
        color: #898989;

        svg {
          margin-left: 10px;
        }
      }
    }

    &__wrap {
      position: relative;
      border-radius: 30px;
      box-shadow: 0 8px 25px 10px rgba(0, 182, 181, 0.25);
      background: #d9d9d9;
      display: block;

      img {
        display: block;
        border-radius: 30px;
        width: 100%;
        height: auto;
        position: relative;
        z-index: 1;
      }

      &__play {
        position: absolute;
        z-index: 10;
        top: 50%;
        left: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 4px 4px 0 #3ca6af;
        width: 92px;
        height: 92px;
        border-radius: 46px;
        background: #7dd1d1;
        margin: -46px 0 0 -46px;
      }
    }
  }
}

.mb-80 {
  margin-bottom: 80px;
}

.news {
  position: relative;
  background: url("../images/dist/news-bg.png") 50% 0 no-repeat;
  padding-top: 70px;
  padding-bottom: 100px;

  .container {
    position: relative;
    z-index: 10;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
  }

  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.125;
    color: #fff;
  }

  &__item {
    padding: 0 10px;

    &__img {
      img {
        display: block;
        width: 100%;
        border-radius: 10px;
        box-shadow: 0 5px 10px 0 rgba(0, 182, 181, 0.3);
      }
    }

    &__title {
      font-size: 17px;
      line-height: 1.64;
      color: #000;
      padding: 20px 0;
    }
  }

  &__body {
    margin: 0 -10px;
  }

  &__footer {
    padding-top: 50px;
  }
}

.all-link {
  color: #00b6b5;
  font-size: 17px;
  line-height: 1.4;
  text-decoration: underline;
  text-decoration-skip-ink: none;

  &:hover {
    text-decoration: none;
    color: #00b6b5;
  }
}

.news__nav {
  display: flex;
  gap: 5px;

  &__btn {
    padding: 0;
    border: none;
    width: 46px;
    height: 46px;
    background: transparent;
    border-radius: 23px;
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.2s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}

.main__body {
  position: relative;
  z-index: 10;
  flex-grow: 1;
}

.footer {
  padding-top: 68px;
  padding-bottom: 72px;
  position: relative;
  z-index: 1;
  background-image: linear-gradient(126deg, #5dc5c6 0%, #00b6b5 100%);

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 715px;
    height: 504px;
    bottom: 0;
    right: 0;
    background: url("../images/dist/footer.svg") 0 100% no-repeat;
    background-size: contain;
    z-index: 1;
    opacity: 0.2;
  }

  .container {
    position: relative;
    z-index: 10;
  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  &__nav {
    flex-direction: column;

    li {
      a {
        display: block;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.5;
        color: #fff;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
          text-decoration-skip-ink: none;
          color: #fff;
        }
      }
    }
  }

  &__email {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    padding-bottom: 12px;

    a {
      color: #fff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #fff;
      }
    }
  }

  &__copy {
    padding-top: 12px;
    font-size: 16px;
    line-height: 1.26316;
    color: #fff;
    opacity: 0.6;
  }

  &__soc {
    flex-direction: column;
    gap: 20px;
    min-width: 46px;

    a {
      display: flex;
      width: 46px;
      height: 46px;
      text-decoration: none;
      background: #fff;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      opacity: 0.7;
      transition: all 0.2s ease-in-out;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.faq {
  padding-bottom: 85px;

  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.125;
    color: #000;
    padding-bottom: 50px;
  }

  &__accordion {
    &__item {
      padding-bottom: 15px;

      &__header {
        display: flex;
        align-items: center;
        text-decoration: none;
        min-height: 62px;
        border-radius: 31px;
        border: 1px solid #d6d6d6;
        background-color: #fff;
        padding: 10px 15px 10px 78px;
        position: relative;
        z-index: 10;
        font-size: 17px;
        line-height: 1.4;
        color: #000;
        transition: all 0.2s ease-in-out;
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.03571 18V9.96429H0V8.03571H8.03571V0H9.96429V8.03571H18V9.96429H9.96429V18H8.03571Z' fill='%23E40032' /%3E%3C/svg%3E");
        background-position: 30px 50%;
        background-repeat: no-repeat;

        &:not(.collapsed) {
          background-color: #5dc5c6;
          border-color: #5dc5c6;
          color: #fff;
          background-image: url("data:image/svg+xml,%3Csvg width='18' height='2' viewBox='0 0 18 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='18' height='2' fill='white'/%3E%3C/svg%3E%0A");
        }
      }

      &__body {
        padding: 15px 78px;
      }
    }
  }
}

.home-banner__subtitle i {
  display: inline-block;
  vertical-align: top;
  margin-top: 16px;
}

.header__mob-nav,
.nominations__page {
  display: none;
}

.text {
  p {
    font-size: 17px;
    line-height: 1.4;
    color: #000;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      font-size: 17px;
      line-height: 1.4;
      color: #000;
      position: relative;
      padding-left: 30px;

      &::after {
        content: '';
        width: 4px;
        height: 4px;
        border-radius: 2px;
        background-color: #000;
        position: absolute;
        display: block;
        left: 13px;
        top: 10px;
      }
    }
  }

}

.header__nav__mob-soc {
  display: none;
}

.form-box {
  min-height: 100%;

  padding: 60px 0 110px;

  &__wrap {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    border-radius: 40px;
    padding: 60px 130px;

    &__header {
      display: flex;
      justify-content: center;
      gap: 40px;
      padding-bottom: 40px;

      a {
        display: block;
        position: relative;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.4;
        text-transform: uppercase;
        text-align: center;
        color: #000;
        text-decoration: none;
        padding-bottom: 5px;

        &.active {
          &::after {
            content: '';
            display: block;
            position: absolute;
            z-index: 1;
            bottom: 0;
            left: 0;
            width: 100%;
            background: #e40032;
            height: 2px;
          }
        }
      }
    }

    &__header2 {

      h1 {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.4;
        text-transform: uppercase;
        text-align: center;
        color: #000;
        margin: 0;
        padding: 0 0 30px;
      }

      p {
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #898989;
        margin: 0 0 16px;
      }
    }

    &__message {
      padding: 30px 0 50px;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 16px;
      text-align: center;
      color: #898989;

      svg {
        display: block;
        margin: 0 auto 30px;
      }
    }
  }

  &__inp-row {
    padding-bottom: 20px;
    position: relative;

    &__label {
      display: block;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.75;
      color: #898989;
      padding-bottom: 12px;
      margin: 0;
    }

    &__input {
      height: 62px;
      width: 100%;
      display: block;
      border-radius: 31px;
      border: 1px solid #d6d6d6;
      padding: 15px 20px;
      font-size: 16px;
      line-height: 30px;

      &:active,
      &:focus,
      &:hover {
        outline: none;
        box-shadow: none;
      }
    }

    &__pass {
      position: relative;
    }

    &__ico {
      position: absolute;
      z-index: 10;
      top: 0;
      right: 0;
      padding-right: 20px;
      display: flex;
      height: 100%;
      align-items: center;
      color: #898989;

      &.active {
        color: #000;
      }
    }
  }

  &__check-row {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 20px;
  }

  &__link {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #000;

    &:hover {
      text-decoration: none;
    }
  }

  &__submit {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }


  &__ps {
    padding-top: 30px;
    text-align: center;
  }

}

.button--submit {
  width: 240px;
  text-transform: uppercase;
}

.custom-checkbox {
  input {
    display: none;

    &:checked + span::after {
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_14089_1377)'%3E%3Cpath d='M11.721 0.290495C11.3497 -0.0969538 10.7469 -0.0967095 10.3749 0.290495L4.31739 6.60474L1.62507 3.79854C1.25334 3.41109 0.650755 3.41109 0.278794 3.79854C-0.0929315 4.18599 -0.0929315 4.81407 0.278794 5.20176L3.64425 8.70932C3.83011 8.90305 4.07363 9.00003 4.31715 9.00003C4.56068 9.00003 4.80466 8.90329 4.99029 8.70932L11.721 1.69371C12.0927 1.30651 12.0927 0.678188 11.721 0.290739V0.290495Z' fill='black' /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_14089_1377'%3E%3Crect width='12' height='9' fill='white' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
  }

  span {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-left: 35px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000;
    cursor: pointer;
    user-select: none;

    &::after {
      content: '';
      display: block;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
      border: 1px solid #d6d6d6;
      border-radius: 4px;
      background-color: #fff;
      background-position: 50% 50%;
      background-repeat: no-repeat;

      background-size: 12px 9px;
    }

    &.fs-14 {
      font-size: 14px;
      line-height: 16px;
    }

    a {
      color: #000;
      text-decoration: underline;
      text-decoration-skip-ink: none;
    }
  }
}

.main.main--silver {
  background: #f3f3f3;
}

.form-box__inp-row__file {
  min-height: 60px;
}

.input-file {
  &__file {
    position: relative;
    display: inline-block;

    &__btn {
      background: transparent;
      border: 1px solid #e40032;
      color: #e40032;
      cursor: pointer;
      text-transform: uppercase;
    }

    &__val {
      position: absolute;
      z-index: -1;
      opacity: 0;
      display: block;
      width: 0;
      height: 0;
    }
  }
}

.input-file-list-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #000;
}

.input-file-list-remove {
  vertical-align: middle;
  display: inline-block;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  background-position: 50% 50%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_14089_1502)'%3E%3Cpath d='M8.28277 7.00011L13.7343 1.54845C14.0891 1.19397 14.0891 0.620338 13.7343 0.265859C13.3798 -0.0886197 12.8062 -0.0886197 12.4517 0.265859L7.00021 5.71751L1.54872 0.265859C1.19426 -0.0886197 0.621064 -0.0886197 0.26617 0.265859C-0.0887234 0.620338 -0.0887234 1.19397 0.26617 1.54845L5.71766 7.00011L0.26617 12.4518C-0.0887234 12.8062 -0.0887234 13.3799 0.26617 13.7344C0.442766 13.9114 0.675106 13.9999 0.907447 13.9999C1.13979 13.9999 1.3717 13.911 1.54872 13.7344L7.00021 8.2827L12.4517 13.7344C12.6287 13.9114 12.8606 13.9999 13.093 13.9999C13.3253 13.9999 13.5572 13.911 13.7343 13.7344C14.0891 13.3799 14.0891 12.8062 13.7343 12.4518L8.28277 7.00011Z' fill='black' /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_14089_1502'%3E%3Crect width='14' height='14' fill='white' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.form-box__inp-row__input.error {
  border-color: #ff5353 !important;
}

.error-message {
  z-index: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #f00;
}

.form-box__inp-row .error-message {
  position: absolute;
  left: 0;
  bottom: 0;
}


.page {
  padding-top: 70px;
  padding-bottom: 100px;

  &__title {
    margin: 0;
    font-weight: 600;
    font-size: 64px;
    line-height: 1.1875;
    color: #000;
    padding: 0 0 45px;
  }
}

.news-list {
  .news__item {
    padding: 0;

    .news__item__img img {
      box-shadow: none;
    }

    .news__item__date {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.75;
      color: #e40032;

    }
  }
}

.fpad60 {
  padding-bottom: 60px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;

  &__item {
    min-width: 46px;

    &--prev {
      margin-right: 10px;
    }

    & > a,
    & > div {
      width: 46px;
      height: 46px;
      border-radius: 23px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      text-decoration: none;
    }

    &__nav {
      background: #30BEBE;
      color: #fff;
    }

    &__link {
      border: 1px solid rgba(97, 197, 198, 0.5);
      font-size: 16px;
      line-height: 1.75;
      color: #000;
    }

    &__active {
      background: rgba(0, 182, 181, 0.5);
      color: #000;
    }

    &__dots {
      color: #000;
      font-size: 16px;
      line-height: 1.75;
    }
  }
}

.single-news {
  padding-top: 24px;

  &__date {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.75;
    color: #e40032;
    padding-bottom: 12px;
  }

  &__title {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 36px;
    color: #000;
    margin: 0;
    padding-bottom: 30px;
    line-height: 1.2;
  }

  &__anons {
    font-weight: 500;
    font-size: 24px;
    color: #000;
    padding-bottom: 40px;
  }

  &__sharing {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;

    .ya-share2__list {
      display: block !important;
      margin-top: 0 !important;
      width: 46px;

      li {
        width: 100%;
        padding-bottom: 20px !important;
        margin: 0 !important;

        .ya-share2__icon {
          width: 46px !important;
          height: 46px !important;
          background-color: rgba(0, 182, 181, 0.7) !important;
          border-radius: 5px !important;
          background-position: 50% 50%;
          background-repeat: no-repeat;
        }
      }
    }

    .ya-share2__item_service_vkontakte .ya-share2__icon,
    .ya-share2__item_service_telegram .ya-share2__icon {
      background-size: 30px auto !important;
    }

    .ya-share2__item_service_vkontakte .ya-share2__badge, .ya-share2__item_service_vkontakte .ya-share2__mobile-popup-badge,
    .ya-share2__item_service_telegram .ya-share2__badge, .ya-share2__item_service_telegram .ya-share2__mobile-popup-badge {
      background-color: transparent !important;
    }
  }

  &__text {
    padding: 0 10px 25px;

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      color: #000;
      margin-bottom: 20px;
      margin-top: 0;
    }

  }
}

#single-newsPage {
  display: none;
}

.ya-share2__container_mobile .ya-share2__badge {
  border-radius: 5px !important;
}

.back-link-top {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #000;
  text-decoration: none;
  margin-bottom: 24px;

  &__ico {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(48, 190, 190, 0.5);
  }

  &__caption {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
  }
}

.image-caption {
  font-weight: 500;
  font-size: 16px;
  color: #898989;
  padding: 20px 0 35px;
}

.videos-center {
  width: 100%;
  margin: 10px auto 60px;
  max-width: 730px;
}

.single-news__slider {
  position: relative;
  margin-bottom: 40px;
  margin-top: 10px;

  &__nav {
    width: 46px;
    height: 46px;
    border-radius: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: none;
    background: #44c1c1;
    cursor: pointer;
    z-index: 10;
    position: absolute;
    bottom: 33px;

    &--prev {
      left: -23px;
    }

    &--next {
      right: -23px;
    }

    &.swiper-button-disabled {
      opacity: 0;
      visibility: hidden;
    }
  }
}

#slider img {
  display: block;
  width: 100%;
  height: 480px;
  object-fit: cover;
}

#slider {
  margin-bottom: 20px;
}

#slider2 img {
  width: 100%;
  height: 111px;
  object-fit: cover;
  display: block;
  opacity: 0.5;
}

#slider2 .swiper-slide-thumb-active img {
  opacity: 1;
}

.single-news__footer {
  padding-top: 20px;
  font-weight: 500;
  font-size: 16px;
  color: #898989;
  padding-bottom: 80px;
  border-top: 1px solid #d6d6d6;
  margin-top: 40px;

  b {
    color: #000;
    font-weight: 500;
  }

}

.single-news__list__title {
  font-weight: 600;
  font-size: 36px;
  color: #000;
  line-height: 1.3;
  padding-bottom: 60px;
}

.fpad30 {
  padding-bottom: 30px;
}


.nominees {
  &__filter {
    &__search {
      position: relative;

      &__submit {
        display: flex;
        align-items: center;
        height: 100%;
        top: 0;
        right: 0;
        padding-right: 30px;
        position: absolute;
        z-index: 10;
      }
    }
  }
}


.form-control {
  border: 1px solid #d6d6d6;
  height: 62px;
  border-radius: 31px;
  padding: 10px 40px;
  font-size: 18px;
  line-height: 1.55556;
  color: #898989;

  &::placeholder {
    opacity: 1;
    color: #898989;
  }

  &:focus,
  &:hover,
  &:active {
    outline: none;
    box-shadow: none;
    border: 1px solid #d6d6d6;
  }
}

.form-select {
  border: 1px solid #d6d6d6;
  height: 62px;
  border-radius: 31px;
  padding: 10px 40px;
  font-size: 18px;
  line-height: 1.55556;
  color: #000;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_14070_516)'%3E%3Cpath d='M0.60721 0H7.39293C7.72832 0 8.00021 0.295372 8.00021 0.659334C8.00021 0.834209 7.93615 1.00167 7.82227 1.12525L4.42941 4.8072C4.19225 5.06457 3.80789 5.06457 3.57045 4.8072L0.177871 1.12525C-0.0592904 0.867886 -0.0592904 0.450473 0.177871 0.193104C0.291754 0.0695174 0.446066 0 0.60721 0Z' fill='%23E40032' /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_14070_516'%3E%3Crect width='8' height='5' fill='white' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-position: right 30px top 50%;
  background-size: 8px 5px;

  &:focus,
  &:hover,
  &:active {
    outline: none;
    box-shadow: none;
    border: 1px solid #d6d6d6;
  }
}

.nominee {
  display: block;
  text-decoration: none;

  &__img {
    img {
      display: block;
      width: 100%;
      height: auto;
      border-radius: 20px;
    }
  }

  &__fio {
    padding: 20px 0 15px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    color: #000;

    b {
      display: block;
      text-transform: uppercase;
      font-weight: 700;
    }
  }

  &__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #000;

    &__item__label {
      color: #898989;
    }
  }

  &__right-desc {
    padding-left: 40px;

    h1 {
      font-weight: 600;
      font-size: 36px;
      line-height: 1.1;
      margin: 0;
      padding: 0 0 30px;

      b {
        display: block;
        font-weight: 600;
        text-transform: uppercase;
      }
    }

    .nominee__desc {
      padding-bottom: 40px;
    }

    h3 {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 18px;
      line-height: 1.55556;
      color: #000;
      margin: 0;
      padding: 0 0 12px;
    }

    p {
      font-size: 16px;
      line-height: 1.75;
      color: #000;
      margin-bottom: 15px;
      margin-top: 0;

      a {
        color: #000;
        text-decoration: underline;
        text-decoration-skip-ink: none;
      }
    }

    .videos-center {
      margin-left: 0 !important;
    }
  }
}


.contacts {
  &__header {
    display: flex;
    justify-content: space-between;

    &r__col-teh {
      padding-top: 20px;
    }
  }

  &__search {
    padding-bottom: 60px;

    &__title {
      font-weight: 700;
      font-size: 24px;
      line-height: 1.5;
      color: #000;
      padding-bottom: 40px;
    }
  }

  &__list {
    & > div {
      display: flex;
      align-items: center;
      padding: 0 30px;
      gap: 10px;
    }

    &__captions {
      font-weight: 700;
      font-size: 18px;
      line-height: 1.55556;
      color: #000;
    }

    &__col1 {
      min-width: 250px;
      width: 250px;
    }

    &__col2 {
      flex-grow: 1;
    }

    &__col3 {
      width: 280px;
      min-width: 280px;
    }

    &__col4 {
      min-width: 150px;

    }

    &__item {
      margin-top: 20px;
      padding-top: 10px !important;
      padding-bottom: 10px !important;
      min-height: 80px;
      border: 2px solid #c2e2e2;
      border-radius: 20px;
      background-color: #fff;

      & > div,
      & a {
        font-size: 18px;
        line-height: 1.55556;
        color: #000;
        text-decoration: none;
      }
    }
  }
}


.support {
  &__label {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.3;
    color: #000;
  }

  &__email {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    line-height: 1.3;
    color: #000;

    svg {
      margin-left: 20px;
    }
  }
}


.nominee__desc p {
  margin: 0;
  font-size: 16px;
  color: #898989;
  padding: 0;
  line-height: 24px;
}

.contacts__list__mob-label {
  display: none;
}

.pagination__item--next {
  margin-left: 5px;
}

.header__nav__lk {
  position: relative;
}

.header__nav__lk__accordion {
  position: absolute;
  z-index: 100;
  top: 100%;
  width: 100%;
  left: 0;
  margin-top: 35px;
  padding: 0;
}

.header__nav__lk__submenu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 20px 20px 20px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 0 0 20px 20px;

  &__item {
    a {
      display: block;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.71429;
      text-transform: uppercase;
      color: #000;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.header__nav__mob-lk {
  display: none;
}

.form-box__wrap.form-box__wrap--profile {
  padding: 50px 60px;
}

div.form-box__inp-row__input,
input.form-box__inp-row__input[readonly] {
  background: #f0f0f0;
}

.input-file__img img {
  display: block;
  width: 140px;
  height: 140px;
  border-radius: 10px;
  object-fit: cover;
}

.input-file__list {
  .input-file-list-item {
    padding-top: 15px;
  }
}

.profile__submit {
  border-top: 1px solid #d6d6d6;
  padding-top: 40px;
  margin-top: 15px;
  display: flex;
  gap: 30px;
}

.order-group {
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid #d6d6d6;

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    text-transform: uppercase;
    color: #000;
    margin: 0;
    padding-bottom: 20px;
  }
}

.form-box__inp-row__desc {
  font-weight: 400;
  font-size: 14px;
  color: #898989;
}

.form-box__inp-row__text {
  border-radius: 20px;
  padding: 10px 15px;
  height: 124px;
  width: 100%;
  border: 1px solid #d6d6d6;
  resize: none;

  &:hover,
  &:active,
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.tpad10 {
  padding-top: 10px;
}

.form-box__radio {
  display: flex;
  gap: 30px;
}

.radio-custom {
  display: block;

  input {
    display: none;

    &:checked + span::before {
      content: '';
      display: block;
      position: absolute;
      z-index: 2;
      top: 6px;
      left: 6px;
      background: #e40032;
      width: 12px;
      height: 12px;
      border-radius: 6px;
    }
  }

  &__value {
    display: block;
    cursor: pointer;
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    padding-left: 34px;

    &::after {
      content: '';
      display: block;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
      border-radius: 12px;
      border: 1px solid #d6d6d6;
    }
  }
}

.order-group.order-group--last {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.input-file__file__btn {
  width: 210px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  &:hover,
  &:active {
    background: #cd032f;
    color: #fff;
  }
}

.fpad25 {
  padding-bottom: 25px;
}

.order-group__team__item {
  padding-bottom: 10px;
}

.form-box__inp-row__input:disabled,
.form-select:disabled,
.form-box__inp-row__text:disabled {
  background-color: #f0f0f0 !important;
  cursor: not-allowed;
}

.input-file__file__btn.disabled {
  border-color: #d6d6d6 !important;
  color: #d6d6d6 !important;
  cursor: not-allowed;
}

.radio-custom input:disabled + span::after {
  background-color: #f0f0f0 !important;
  cursor: not-allowed;
}

.form-alert {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  min-height: 100px;
  background: #fff;
  padding: 20px 60px;
  border-radius: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  gap: 20px;

  &--moderation {
    border: 1px solid #e67e22;
  }

  &--approved {
    border: 1px solid #02b8b2;
  }

  &--rejected {
    border: 1px solid #ed0000;
  }

  &--not-completed {
    border: 1px solid #e67e22;
  }

  &__ico {
    width: 32px;
    min-width: 32px;
  }

  &__text {
    font-size: 16px;
    color: #000;
  }
}

.form-select.error:focus,
.error,
.form-select:invalid:focus {
  box-shadow: none !important;
  border-color: #ff5353 !important;
}

.error-label {
  position: absolute;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
}

.admin-navbar {
  margin-bottom: 30px;
  padding: 8px;
  border-radius: 8px;
  background: #e9e9e9;

  &__link {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-right: 20px;
    position: relative;
    height: 48px;
    text-decoration: none;
    border-radius: 8px;

    &__title {
      color: #020202;
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      line-height: 18px;
      text-decoration: none;
    }

    &__ico {
      width: 48px;
      min-width: 48px;
      display: flex;
      height: 48px;
      border-radius: 8px;
      align-items: center;
      justify-content: center;
      color: #a2a2a2;

      &--back {
        background: #fff;
        margin-right: 15px;
      }
    }

    &.active {
      background: #fff;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

      .admin-navbar__link__ico {
        color: #02b8b2;
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        z-index: 1;
        top: 50%;
        right: 15px;
        width: 0;
        height: 0;
        border-top: 4px solid transparent;
        border-left: 5px solid #02b8b2;
        border-bottom: 4px solid transparent;
        margin-top: -4px;
      }
    }
  }

  &__nav {
    flex-direction: column;
    gap: 10px;
  }
}

.admin-order {
  &__header {
    display: flex;
    align-items: center;

    h1 {
      color: #020202;
      font-size: 24px;
      line-height: 1.3;
      font-weight: 500;
      font-family: "Roboto", sans-serif;
      margin-right: 40px;
    }
  }

  &__caption {
    color: #020202;
    font-size: 18px;
    line-height: 1.3;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
  }
}


.nominations__item__ico__wrap {
  transition: all 0.3s ease-in-out;
}

.nominations__item:hover {
  .nominations__item__ico__wrap {
    transform: translateY(-10px);
  }
}

.videos__item__info__link {
  transition: all 0.3s ease-in-out;

  svg {
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    color: #E40032;

    svg {
      transform: translateX(10px);
    }
  }
}

.news__item {
  .news__item__img {
    display: block;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 182, 181, .3);

    img {
      display: block;
      transition: all 0.3s ease-in-out;
    }
  }

  .news__item__title {
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    .news__item__img img {
      transform: scale(1.05);
    }

    .news__item__title {
      color: #464646;
    }

    .videos__item__info__link {
      color: #E40032;

      svg {
        transform: translateX(10px);
      }
    }
  }
}


.cookie {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 50;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 40px;
  width: 400px;
  padding: 46px 40px 29px;
  &__header {
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    z-index: 1;
    top: -36px;
    left: 0;
    &__ico {
      width: 72px;
      height: 72px;
      border-radius: 36px;
      background-color: #E40032;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M32.8854 18.707C30.0546 18.2779 27.6824 16.4553 26.4887 13.9569C26.4471 13.9607 26.413 13.9607 26.3789 13.9607C21.6799 13.9607 17.8791 10.1484 17.8791 5.44763C17.8791 4.4452 18.0534 3.48075 18.3755 2.58464C18.6862 1.71511 18.0875 0.777235 17.1666 0.773438H17.0795C7.24579 0.773438 -0.647679 9.10041 0.0420049 19.0981C0.636952 27.7098 7.71948 34.6091 16.3254 34.9812C25.3216 35.3685 32.8626 28.7806 34.0146 20.1651C34.1094 19.4588 33.594 18.8095 32.8892 18.707H32.8854ZM7.00706 22.0104C6.85169 22.1585 6.65085 22.2307 6.45758 22.2307C6.24537 22.2307 6.03316 22.1509 5.87779 21.9877L4.67653 20.727C4.37337 20.4081 4.38474 19.8993 4.70306 19.5955C5.02137 19.2917 5.52916 19.3031 5.83232 19.6221L7.0298 20.8789C7.33674 21.1979 7.32537 21.7067 7.00706 22.0104ZM9.23906 14.2189C8.17801 14.2189 7.31022 13.3531 7.31022 12.2861C7.31022 11.2192 8.17801 10.3534 9.23906 10.3534C10.3001 10.3534 11.1679 11.223 11.1679 12.2861C11.1679 13.3493 10.3039 14.2189 9.23906 14.2189ZM12.6799 4.85908L13.9835 4.51735C14.4117 4.40723 14.8475 4.65784 14.9574 5.08691C15.0748 5.51598 14.8172 5.95264 14.389 6.06275L13.0778 6.40829C13.0096 6.42727 12.9414 6.43487 12.877 6.43487C12.5207 6.43487 12.1986 6.19565 12.1039 5.83873C11.994 5.40966 12.2479 4.9692 12.6761 4.85908H12.6799ZM14.1881 31.6056C13.1346 31.6056 12.2782 30.7513 12.2782 29.6919C12.2782 28.6325 13.1308 27.7858 14.1881 27.7858C15.2454 27.7858 16.098 28.6401 16.098 29.6919C16.098 30.7437 15.2454 31.6056 14.1881 31.6056ZM18.4361 19.5689C18.3262 19.8993 18.0117 20.1081 17.682 20.1081C17.5948 20.1081 17.5115 20.0967 17.4281 20.0663L15.8403 19.5272C15.4235 19.3867 15.1999 18.9348 15.3401 18.5133C15.4841 18.0919 15.9351 17.8678 16.3557 18.0121L17.9397 18.5475C18.3565 18.688 18.5839 19.1437 18.4399 19.5651L18.4361 19.5689ZM22.2256 21.0688C22.2256 20.0967 23.0138 19.3107 23.9801 19.3107C24.9464 19.3107 25.7346 20.1005 25.7346 21.0688C25.7346 22.037 24.9464 22.8268 23.9801 22.8268C23.0138 22.8268 22.2256 22.037 22.2256 21.0688ZM27.1822 29.6957C27.0269 29.8704 26.8109 29.9615 26.5911 29.9615C26.3978 29.9615 26.2083 29.8932 26.0567 29.7565L25.2041 28.9819C24.8782 28.6857 24.8517 28.1807 25.1473 27.8541C25.4429 27.5276 25.9506 27.501 26.2727 27.7972L27.1254 28.568C27.4513 28.8641 27.4816 29.3692 27.1822 29.6957Z' fill='white' /%3E%3C/svg%3E");
      background-size: 35px 35px;
    }
  }
  &__body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: #000;
    a {
      text-decoration: underline;
      text-decoration-skip-ink: none;
      color: #00b6b5;
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    .button {
      height: 40px;
      width: 120px;
      padding: 5px;
      font-size: 16px;
    }
  }
}


.col-admin-7 {
  flex: 0 0 auto;
  width: 55%;
}
.col-admin-5 {
  flex: 0 0 auto;
  width: 45%;
}

.fpad15 {
  padding-bottom: 15px;
}
