@media screen and (max-width: 1399px) {
  .header__logo {
    width: 250px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .nominations__item {
    max-width: 325px;
    padding-bottom: 50px;
    &__ico {
      height: 352px;
      padding: 12px;
      &__wrap {
        height: 329px;
        padding-top: 170px;
      }

      &__caption {
        font-size: 26px;
        padding: 0 10px;
        min-height: 72px;
      }
    }

    &__label {
      font-size: 15px;
      padding-top: 20px;
    }

    &__count {
      height: 80px;
      border-width: 3px;
      font-size: 26px;
    }
  }
}


@media screen and (max-width: 1199px) {

  .nominations__body {
    .swiper-slide {
      width: 325px;
    }
  }
  .header__logo img {
    width: 220px;
    height: auto;
  }

  .header__nav__link {
    font-size: 14px;
  }
  .button {
    font-size: 16px;
  }
  .home-banner__wrap {
    padding-left: 500px;
  }
  .nominations__item__ico__caption {
    font-size: 28px;
  }
  .nominations__footer {
    font-size: 13px;
  }
  .nominations__item__count, .nominations__item__price {
    height: 80px;
  }
  .nominations__item__count,
  .nominations__item__price b {
    font-size: 28px;
  }
  .nominations__item__price {
    font-size: 24px;
  }
  .videos__item__right {
    width: 600px;
  }
  .footer {
    padding: 50px 0;
  }
  .footer__wrap {
    flex-wrap: wrap;
  }
  .footer__col1 {
    width: 190px;
    padding-bottom: 20px;
  }
  .footer__col2 {
    width: calc(100% - 190px);
    padding-bottom: 20px;
  }
  .home-banner__wrap h1 {
    font-size: 16px;
    line-height: 1.5;
  }
  .home-banner__subtitle {
    font-size: 25px;
    line-height: 1.4;
  }
  .home-banner__subtitle i {
    margin-top: 12px;
  }
  .home-banner__text p {
    font-size: 13px;
  }
  .home-banner__date__label {
    font-size: 25px;
  }
  .home-banner__date__value {
    font-size: 21px;
  }
  .header__nav__list {
    gap: 15px;
  }
  .header__nav__btn {
    font-size: 14px;
  }
}

@media screen and (max-width: 991px) {
  .single-news__list__title {
    padding-bottom: 24px;
    font-size: 20px;
  }

  .single-news__col-sharing {
    order: 2;
    padding-bottom: 30px;
  }
  .single-news__footer {
    padding-bottom: 30px;
    font-size: 14px;
  }
  .single-news__sharing {
    display: block;
  }
  .single-news__sharing .ya-share2__list {
    width: 100%;
    display: flex !important;
    align-items: center;
    &::before {
      content: 'поделиться';
      font-weight: 500;
      font-size: 14px;
      line-height: 1.71429;
      text-transform: uppercase;
      color: #000;
    }
    li {
      width: 46px;
      margin-left: 20px !important;
      padding-bottom: 0 !important; ;
    }
  }
  .single-news__text{
    padding: 0 0 15px;
  }
  .single-news__date {
    font-size: 14px;
    padding-bottom: 10px;
  }
  .single-news__title{
    font-size: 24px;
    padding-bottom: 20px;
  }
  .back-link-top {
    margin-bottom: 10px;
  }
  .single-news__anons {
    font-size: 18px;
    padding-bottom: 15px;
  }
  .contacts__list__captions {
    display: none !important;
  }
  .nominees__filter__search__submit {
    padding-right: 15px;
  }
  .contacts__header {
    display: block;
    padding-bottom: 0;
  }
  .support__email, .support__label {
    font-size: 16px;
  }
  .contacts__search__title {
    padding-top: 15px;
    font-size: 20px;
    padding-bottom: 12px;
  }
  .news__item__title {
    padding: 10px 0;
  }
  .contacts__search {
    padding-bottom: 0;
  }
  .contacts__list__mob-label {
    display: block;
    font-weight: 700;
  }
  .news-list .news__item .news__item__date {
    font-size: 14px;
  }
  .pagination {
    gap: 5px;
  }
  .pagination__item--prev {
    margin-right: 5px;
  }
  .pagination__item--next{
    margin-left: 5px;
  }
  .contacts__list__item {
    margin-top: 10px;
    min-height: auto;
    display: block !important;
    padding: 15px 20px 5px 20px !important;

  }
  .contacts__list__item a, .contacts__list__item>div {
    font-size: 13px;
    line-height: 1.61538;
  }
  .contacts__list__item>div {
    padding-bottom: 10px;
  }
  .form-control {
    height: 48px;
    padding: 5px 15px;
    font-size: 14px;
  }
  .nominee__desc {
    font-size: 13px;
  }
  .form-select {
    height: 48px;
    padding: 5px 35px 5px 15px;
    font-size: 14px;
  }
  .page {
    padding-top: 20px;
    padding-bottom: 50px;
    &__title {
      font-size: 32px;
      padding-bottom: 20px;
    }
  }
  .fpad60 {
    padding-bottom: 30px;
  }
  .fpad30 {
    padding-bottom: 10px;
  }
  .nominee__desc p {
    font-size: 13px;
    line-height: 1.61538
  }
  .nominee__fio {
    font-size: 16px;
  }
  .header__nav__mob-soc {
    display: block;
    .nav {
      justify-content: center;
      gap: 30px;
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 4px;
        background: #00b6b5;
        text-decoration: none;
      }
    }
  }
  .header__nav__list {
    gap: 20px;
    padding-bottom: 40px;
    li:last-child {
      padding-top: 20px;
    }
  }
  .videos__item__info__desc .videos__item__info__link svg {
    transform: rotate(90deg);
  }
  .videos {
    background-image: none;
    padding-top: 0;
  }
  .mb-80 {
    margin-bottom: 70px;
  }

  .videos__item {
    display: block;
    &__info {
      padding: 0 0 30px;
      display: flex;
      &__ico {
        padding: 0 20px 0 0;
      }
    }

    &__right {
      width: 100%;
    }
  }

  .nominations__page {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    .swiper-pagination-bullet {
      width: 18px;
      height: 18px;
      border-radius: 9px;
      background: #c2e2e2;
      opacity: 1;
      margin: 0 6px;
      &.swiper-pagination-bullet-active {
        background: #e40032;
      }
    }
  }
  .header__nav {
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    top: 100%;
    background: #fff;
    padding: 0;
  }
  .header__nav__wrap {
    padding-top: 30px;
    padding-bottom: 50px;
    min-height: calc(100vh - 73px);
    border-bottom: 1px solid #eee;
  }
  .home-banner__wrap {
    padding-left: 300px;
  }
  .nominations__title {
    font-size: 25px;
  }
  .nominations__footer {
    padding: 30px 0 0;
  }

  .feedback {
    display: block;

    &__desc {
      padding: 20px 0 0 0;
    }
  }
  .news {
    padding-top: 15px;
    padding-bottom: 60px;
  }
  .header__mob-nav {
    display: block;
    margin-left: auto;

    .hamburger {
      display: flex;
      align-items: center;
    }
  }
  .header {
    position: relative;
    z-index: 100;
    padding: 22px 0;
  }
  .image-caption {
    font-size: 14px;
    padding: 10px 0 20px;
  }
  .single-news__text p {
    font-size: 14px;
  }
  .videos-center {
    margin-bottom: 30px;
  }
}


@media screen and (max-width: 768px) {
  #slider img {
    height: auto;
    width: 100%;
  }
  #slider2,
  .single-news__slider__nav {
    display: none !important;
  }
  .single-news__slider {
    margin-bottom: 20px;
  }
  .hidden-mob {
    display: none !important;
  }
  .footer__nav li a,
  .footer__email,
  .footer__copy {
    font-size: 13px;
  }
  .footer {
    padding-top: 30px;
    background: url("../images/dist/mob-footer.jpg") 100% 0 no-repeat;
    background-size: cover;
  }
  .footer__wrap {
    justify-content: flex-start;
  }
  .footer:after {
    display: none;
  }

  .footer__col1,
  .footer__col2,
  .footer__col3,
  .footer__col5 {
    width: 100%;
    padding-bottom: 30px;
  }
  .footer__soc {
    flex-direction: row;
  }
  .footer__col4 {
    width: 100%;
    order: 4;
  }
  .faq {
    padding-bottom: 35px;
  }
  .text p {
    font-size: 15px;
  }
  .text ul li {
    font-size: 15px;
  }
  .text ul li:after{
    top: 8px;
  }
  .faq__accordion__item__body {
    padding: 15px 0 15px 15px;
  }
  .faq__accordion__item__header {
    padding-left: 58px;
    background-position: 20px 50%;
    font-size: 15px;
  }
  .faq__title {
    font-size: 35px;
    padding-bottom: 30px;
  }
  .home-banner__header {
    padding-bottom: 20px;
  }
  .home-banner__text {
    padding-bottom: 30px;
  }
  .home-banner {
    margin-bottom: 68px;
    padding-top: 30px;
    min-height: auto;
    padding-bottom: 0;
    position: relative;
    background-color: transparent;
    background-image: linear-gradient(193deg, #5dc5c6 0%, #00b6b5 100%);
  }
  .home-banner__wrap {
    padding-left: 0;
    padding-bottom: 200px;
    background: url("../images/dist/mob-home1.svg") 50% 100% no-repeat;
    background-size: 311px auto;
  }
  .button {
    font-size: 16px;
  }
  .nominations {
    padding: 50px 0;
  }
  .nominations__title {
    margin-bottom: 30px;
  }
  .feedback__desc p,
  .feedback__desc__user {
    font-size: 13px;
  }
}

@media screen and (max-width: 574px) {
  .videos__item__wrap__play {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin: -30px 0 0 -30px;
  }
  .videos__item__info__ico {
    width: 95px;
  }
  .videos__item__info__title {
    font-size: 21px;
  }
  .videos__item__info__link {
    font-size: 15px;
  }
  .home-banner__date__btn {
    width: 100%;
  }
  .feedback__pic img {
    width: 100%;
    height: auto;
  }
  .feedback {
    background-size: 800px 300px;
    background-color: transparent;
    background-position: 0 0;
  }
  .feedback:before,
  .feedback:after {
    width: 76px;
    height: 63px;
  }
  .videos {
    padding-bottom: 70px;
  }

  .news {
    background-image: url("../images/dist/video_bg_mob.jpg");
    background-position: 0 0;
    background-size: 100% auto;
    &__title {
      font-size: 35px;
      padding-bottom: 30px;
      width: 250px;
    }
    &__header {
      display: block;
      padding-bottom: 30px;
    }
  }
  .news__item__title {
    font-size: 15px;
  }
  .news__footer {
    padding-top: 20px;
  }
}

@media screen and (max-width: 440px) {
  .feedback {
    padding: 80px 0;
  }
  .videos__item__info__title span {
    display: block;
  }
  .videos__item__wrap__play {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: -25px 0 0 -25px;
    svg {
      width: 10px;
      height: 15px;
    }
  }
  .nominations__body {
    margin-left: -15px;
    margin-right: -15px;
  }
}
